<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/a19050df1f.js" crossorigin="anonymous"></script>
    <title>LOGIN PAGE</title>
</head>

<body>
    <div class="container">

        <div class="middle-line">
            <div class="logo-container">
                <img src="../misc/logo.svg">
            </div>
            <div class="login-container">
                <form>
                    <input name="email" type="text" placeholder="email@email.com">
                    <input name="password" type="password" placeholder="password">
                    <button class="login-button">
                        <i class="fas fa-spinner"></i>
                    </button>
                </form>
            </div>
        </div>
    
    </div>
</body>