@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

.content {
    padding: 2em 5em;
    background: #FFFFFF;
    margin: auto;
    border-radius: var(--radius);
    display: flex;


}

.content>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

}

form {
    margin: 1em;
    width: 50%;
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 4em;
    margin-block-start: 0.2em ;
    margin-block-end: 0.5em;
}

input {
    border-radius: 0;
    width: 80%;
    border-bottom: 1px solid #C968C9;
}

form>div>input {
    width: 70%;
}

textarea {
    font-weight: 300;
    font-size: 1.5em;
    background: transparent;
    border-radius: calc(var(--radius)/4);
    border: 1px solid #e5b2e5;
    padding: 1vh;
    margin: 1em;
    width: 80%;

    resize: vertical;
}

img {
    margin: auto;
}
.message {
    padding: 0;
    height: 2em;
    font-size: 2em;
    text-align: center;
    margin: 1em;
    width: 100%;

}

button {
    align-self: flex-end;
    font-size: 2em;
    width: fit-content;
    background: #6BA2EB;
    border: 0;
    font-weight: 500;
    border-radius: 10em;
}

#add-poi {
    margin: 0;
}
#submit {
    font-size: 1.6em;
    align-self: center;
    padding: 0.2em 1em;
}