.top-bar {
    width: 50%;
    padding: 0;
    background: var(--element-background-color);
    display: flex;
}
/*TODO unify search buttons*/
.top-bar>input {
    border-radius: var(--radius) 0 0 var(--radius);
    margin: 0;
    width: 80%;
}
.top-bar>button {
    font-weight: 700;
    color: var(--font-color);
    letter-spacing: 0.1em;
    margin: 0;
    font-size: 1.5em;
    background: var(--main-color);
    border: 0;
    width: 20%;
    border-radius: 0 2em 2em 0;
}
.top-bar>button:hover {
    background: transparent radial-gradient(closest-side at 50% 50%, var(--element-background-color) 0%, var(--main-color) 120%) 0 0 no-repeat padding-box;
}
.content {
    width: 100%;
    height: 100%;
    background: transparent;
    margin-top: 2vw;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 4em;
    grid-auto-flow: column;
    grid-auto-columns: 50%;

    justify-items: center;
    align-items: center;
    overflow: auto;
}
.search {
    margin: 0;
    width: 100%;
    height: 100%;
}
.search-img {
    object-fit: cover;
    width: 100%;
    height: 40vh;
}
.search>div {
    background: white;
    padding: 3em;
    border-radius: 2em;
    justify-self: flex-end;
    margin-top: 5vh;
    width: 90%;
    text-align: left;
}
.search h2 {
    font-weight: 500;
    font-size: 2em;
}
.search p {
    font-size: 2em;
}
@media screen and (max-width:801px), screen and (max-device-width:801px) {
    .top-bar {
        width: 80%;
    }
    .top-bar>input {
        font-size: 0.4em;
    }

    .top-bar>button {
        font-size: 0.4em;
    }
    .content {
        width: 90%;
        grid-template-columns: 1fr;
        grid-gap: 0;
        grid-auto-flow: row;
        overflow: auto;
    }
    .search {
        height: unset;
        justify-content: unset;
    }
    .search-img {
        height: 20vh;
        width: 80%;
    }

    .search>div {
        border-radius: 1.2em;
        visibility: visible;
        background: var(--element-background-color);
        width: 60%;
        justify-self: unset;
        margin-top: 0;
        position: relative;
        bottom: 10vh;
        padding-top: 0.2em;
    }
    h2 {
        padding-left: 1em;
        font-size: 3vmin;
        margin-bottom: 0.2em;
    }
    p {
        margin-top: 0;
        font-size: 2vmin;
        padding-bottom: 1em;
    }
}