* {
    font-size: calc(0.3vmax + 0.6vmin);
}

body {
    background-color: #EDEDED;
    margin: 0;
    
}

.container{
    width: 100vw;
    height: 85vh;
    border-radius: 50px 50px 0px 0px;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
}

.middle-line {
    background: linear-gradient(#ffffff, #000) no-repeat center/2px 100%;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.login-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

form.login{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-right: 5vw;
    padding-left: 5vw;
    background: #FDFDFD;
    border-radius: 50px;
    box-shadow: 5px 12px 6px #DDA0DD33;
}

input {
    background: transparent;
    border-radius: 2em;
    border: none;
    
    padding: 1em;
    margin: 1em;
    width: 80%;
}

input:hover {
    background: #dda0dd20;
}

.login-button{
    border: 0;
    background: #FDFDFD;
    color: #dda0dd;
    cursor: pointer;
    margin: 10px;
    padding: 0;

    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
     -moz-animation-timing-function: linear;

    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
        
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    animation-play-state: paused;
}

i {
    font-size: 2em;
    padding-right: 10px;
    padding-left: 10px;
}

.login-button:hover {
    color: #C968C9;
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -ms-animation-play-state: running;
    animation-play-state: running;
}

.logo-container{
    width: 50%;
    text-align: center;
}

img.login-logo{
    width: 60%;
    }

    @-ms-keyframes spin {
        from { -ms-transform: rotate(0deg); }
        to { -ms-transform: rotate(360deg); }
    }
    @-moz-keyframes spin {
        from { -moz-transform: rotate(0deg); }
        to { -moz-transform: rotate(360deg); }
    }
    @-webkit-keyframes spin {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(360deg); }
    }
    @keyframes spin {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }


/*________________________________________*/
nav {
    width: 12vw;
    height: 74vh;
    background: #FFFFFF;
    border-radius: 2vh;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.base-container {
    width: 100vw;
    height: 100vh;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-visibility-button >img {
    display: none;
}
/*.content-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    border-radius: 8vmin 8vmin 0 0;
    background: cornsilk;
}*/
.nav-logo-container {
    align-self: center;
    text-align: center;
    margin-top: 1.5vh;
}
.nav-logo-container > img {
    width: 8vh;
}

.new-button > img {
    padding-left: 5px;
    width: calc(3vmax + 1vmin);
}

ol {
    
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    
    
    padding-bottom: 1vw;
    padding-top: 1vh;
}

.nav-button {
    width: 100%;
    font-size: calc(0.3vmax + 1vmin);
    color: #282E3F90;
    display: flex;
    align-items: center;
    border: 0;
    background: transparent;
    height: 8vh;
}

.nav-text {
    font-size: calc(0.3vmax + 1vmin);
}

.nav-button:hover {
    cursor: pointer;
    color: #282E3F;
}

.new-button {
    position: relative;
    bottom: 1vh;
    margin: 1vmin;
    width: unset;
    border-radius: 2vmin;
    background: #6BA2EB;
    padding: 0.5vmin;
    font-size: calc(0.5vmax + 1vmin);

    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-container {
    width: 100%;
    height: 100%;
    background: coral;
}

.featured {
    width: 100%;
    height: 13%;
    background: cyan;
    display: flex;
    align-items: center;
}



@media (max-width: 800px) {
    .middle-line {
        background: none;
        flex-direction: column;
    }
    
    * {
        font-size: 3vmax;
    }

    .login-container{
        width: 100%;
    }

    form{
        width: 80%;
    }

    input{
        margin-top: 0em;
        margin-bottom: 0em;
    }

    .logo-container {
        width: 100%;
        height: 20%;
    }

    i{
        font-size: 2em;
    }

    img {
        width: 80%;
        height: 100%;
    }
    

    /*_____________________________________*/

    .nav-visibility-button > img {
        position: absolute;
        top: 1vh;
        left: 1vh;
        width: 6vh;
        height: 6vh;
        display: unset;
        justify-self: center;
    }

    .nav-visibility-button:hover + #navigation-bar {
        left: 0;
    }

    #slide {
        transition: 1s;
        left: 0;
    }

    #slide-out {
        transition:1s;
        left: -60vw;
    }
    
    #navigation-bar {
        width: 50vw;
        height: fit-content;
        position: absolute;
        left: -60vw;
        transition: 1s;
        align-items: left;
        --status: hidden;
    }

    .nav-logo-container {
        display: none;
    }
    .nav-button {

        font-size: calc(2vmax + 1vmin);
    }

    .nav-text {
        font-size: inherit;
    }

    .new-button {
        font-size: calc(2vmax + 1vmin);
        padding: 1vmin;
        margin: 1em;
    }
    
/*
    ul{
        padding-left: 4vw;
        padding-right: 4vw;
    }
    

    .nav-text {
        display: none;
    }

    

    .button-container {
        
    }
    .new-button {
        position: unset;
        bottom: unset;
    }
    .button-container {
        width: max-content;
        height: max-content;
    }*/
}


