:root {
    --radius: 2em;
}

* {
    font-size: calc(0.3vmax + 0.6vmin);
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

body {
    background-color: #EDEDED;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 85vh;
    border-radius: var(--radius) var(--radius) 0 0;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
}

.middle-line {
    background: linear-gradient(#ffffff, #000) no-repeat center/2px 100%;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-right: 5vw;
    padding-left: 5vw;
    background: #FDFDFD;
    border-radius: var(--radius);
    box-shadow: 5px 12px 6px #DDA0DD33;
}

input {
    background: transparent;
    border-radius: var(--radius);
    border: none;
    padding: 1vh;
    margin: 1em;
    width: 80%;
}

input:hover {
    background: #dda0dd20;
}

.login-button {
    border: 0;
    background: transparent;
    color: #dda0dd;
    cursor: pointer;
    margin: 10px;
    padding: 0;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    animation-play-state: paused;
}

.login-button > i {
    font-size: 2em;
    width: 2em;
}

.login-button:hover {
    color: #C968C9;
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -ms-animation-play-state: running;
    animation-play-state: running;
}

.logo-container {
    width: 50%;
    text-align: center;
}

img.login-logo {
    width: 60%;
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/*________________________________________*/

nav {
    font-weight: 500;
    width: 20%;
    height: 93vh;
    background: #FFFFFF;
    border-radius: var(--radius);
    margin: 2vw 2vw 2vw 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.base-container {
    margin: 0;
    overflow: hidden;
    width: 88vw;
    height: 100vh;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#toggle-button {
    position: absolute;
    top: 50vh;
    left: 1vmax;
    width: 10vmax;
    height: 10vmax;
    display: none;
}

.nav-logo-container {
    align-self: center;
    text-align: center;
    margin-top: 1.5vh;
    margin-bottom: 3vh;
}

.nav-logo-container > img {
    width: 60%;
}

.new-button > img {
    padding-left: 5px;
    width: calc(3vmax + 1vmin);
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 2em 0 0;
    height: 100%
}

li {
    height: 10%;
}

li:last-child {
    height: 30%;
    border-radius: var(--radius);
    background: transparent radial-gradient(closest-side at 50% 50%, #EFEFEF 0%, #6BA2EB 120%) 0 0 no-repeat padding-box;
}

.nav-button {
    width: 100%;
    font-size: calc(0.3vmax + 1vmin);
    color: #282E3F90;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: transparent;
    height: 8vh;
}

.nav-button > i {
    font-size: 2em;
}

.nav-button > div {
    font-size: 1.2em;
    width: 80%;
    text-align: right;
}

.nav-button:hover {
    cursor: pointer;
    color: #282e3f;
}

.new-button {
    position: relative;
    bottom: 1vh;
    width: unset;
    border-radius: calc(var(--radius)/2);
    background: #6BA2EB;
    padding: 0.5vmin;
    font-size: calc(0.5vmax + 1vmin);
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-button:hover {
    background: transparent radial-gradient(closest-side at 50% 50%, #EFEFEF 0%, #6BA2EB 120%) 0 0 no-repeat padding-box;
}

.content-container {
    width: 100%;
    height: 93%;
    padding: 2vw;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 800px) {
    .middle-line {
        background: none;
        flex-direction: column;
    }

    * {
        font-size: 3vmin;
    }

    .login-container {
        width: 100%;
    }

    form {
        width: 80%;
    }

    input {
        margin-top: 0;
        margin-bottom: 0;
    }

    .logo-container {
        width: 100%;
        height: 20%;
    }

    .login-button > i {
        font-size: 2em;
        width: 2em;
    }

    img {
        width: 80%;
        height: 100%;
    }

    /*_____________________________________*/
    body {
        flex-direction: column;
    }

    .content-container {
        width: 100%;
        margin-left: 2vw;
    }

    #toggle-button {
        display: none;
    }

    nav {
        width: 90%;
        height: 20%;
        margin: 2vw 2vw 0 2vw;
    }

    .nav-text {
        display: none;
    }

    li {
        width: 20%;
        float: left;
        height: unset;
    }

    .nav-button > i {
        font-size: 4em;
    }

    li:first-child {
        display: none;
    }

    ol {
        height: unset;
        width: 100%;
        margin: 0;
    }

    .nav-logo-container > img {
        margin: 0.5em;
        width: 20%;
    }

    .nav-logo-container {
        align-self: unset;
        text-align: unset;
        margin-top: 0;
        margin-bottom: 0;
    }
}