@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

:root {
    --radius: 4em;
}

* {
    font-size: 0.8vmin;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

body {
    background-color: #EDEDED;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.message {
    border-radius: var(--radius);
    background: transparent;
    padding: 1em 4em;
}

.container {
    width: 100vw;
    height: 85vh;
    border-radius: var(--radius) var(--radius) 0 0;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
}

.middle-line {
    background: linear-gradient(#ffffff, #000) no-repeat center/2px 100%;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-right: 5vw;
    padding-left: 5vw;
    background: #FDFDFD;
    border-radius: var(--radius);
    box-shadow: 5px 12px 6px #DDA0DD33;
}

input {
    font-weight: 300;
    font-size: 1.5em;
    background: transparent;
    border-radius: var(--radius);
    border: none;
    padding: 1vh;
    margin: 1em;
    width: 100%;
}

input:hover {
    background: #dda0dd20;
}

.login-button {
    border: 0;
    background: transparent;
    color: #dda0dd;
    cursor: pointer;
    margin: 10px;
    padding: 0;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -ms-animation-play-state: running;
    animation-play-state: running;
}

.login-button>i {
    font-size: 2em;
    width: 2em;
}

.login-button:hover {
    color: #C968C9;

}

.logo-container {
    width: 50%;
    text-align: center;
}

img.login-logo {
    width: 60%;
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/*________________________________________*/

nav {
    width: 18%;
    height: 93vh;
    background: #FFFFFF;
    border-radius: var(--radius);
    margin: 2vw 2vw 2vw 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.base-container {
    margin: 0;
    overflow: hidden;
    width: 88vw;
    height: 100vh;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-logo-container {
    align-self: center;
    text-align: center;
    margin-top: 1.5vh;
    margin-bottom: 3vh;
    height: 12%;
}

.nav-logo-container>img {
    width: 60%;
}

.new-button>img {
    padding-left: 5px;
    width: calc(3vmax + 1vmin);
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 85%;
    align-self: center;
}

li:first-child, li:last-child {
    justify-self: center;
}

li:last-child {
    height: 30%;
    margin-bottom: 1em;
    border-radius: var(--radius);
    background: transparent radial-gradient(closest-side at 50% 50%, #EFEFEF 0%, #6BA2EB 120%) 0 0 no-repeat padding-box;
}

.nav-button {
    font-size: 1.5em;
    width: 90%;
    padding: 0.2em 0.8em;
    color: #282E3F90;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: transparent;
    height: 8vh;
}

.nav-button>i {
    font-size: 2em;
}

.nav-button>pre {
    font-size: 1.2em;
    font-weight: 500;
    width: 80%;
    text-align: right;
}

.nav-button:hover {
    cursor: pointer;
    color: #282e3f;
}

.new-button {
    font-size: 2em;
    font-weight: 600;
    color: #282e3f;
    border-radius: calc(var(--radius)/2);
    background: #6BA2EB;
    padding: 0.5vmin;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-button:hover {
    background: transparent radial-gradient(closest-side at 50% 50%, #EFEFEF 0%, #6BA2EB 120%) 0 0 no-repeat padding-box;
}

.content-container {
    width: 100%;
    height: 93%;
    padding: 2vw;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

@media (max-width: 801px) or (orientation:portrait) {
    .middle-line {
        background: none;
        flex-direction: column;
    }
    * {
        font-size: 1em;
    }
    .login-container {
        width: 100%;
    }
    form {
        width: 80%;
    }
    input {
        margin-top: 0;
        margin-bottom: 0;
    }
    .logo-container {
        margin-top: 4em;
        margin-bottom: 10em;
        width: 100%;
        height: 20%;
    }
    .login-button>i {
        font-size: 2em;
        width: 2em;
    }
    img.login-logo {
        width: 80%;
        height: 100%;
    }
    /*_____________________________________*/
    body {
        flex-direction: column;
    }
    .content-container {
        width: 90%;
        justify-self: center;
    }
    nav {
        font-size: 0.6em;
        border-radius: calc(var(--radius)/2);
        width: 90%;
        height: 20%;
        margin: 2vw 2vw 0 2vw;
    }
    .nav-button>pre {
        display: none;
    }
    li {
        width: 20%;
        float: left;
        height: unset;
    }
    li:first-child, li:last-child {
        display: none;
    }

    ol {
        height: 50%;
        width: 100%;
        margin: 0;
    }

    .nav-logo-container>img {
        margin: 0.5em;
        width: 20%;
    }

    .nav-logo-container {
        align-self: unset;
        text-align: unset;
        margin-top: 0;
        margin-bottom: 0;
        height: 50%;
    }
}