
.top-bar {
    border-radius: var(--radius);
    width: 100%;
    height: 12%;

    padding: 0.5em 1em;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar>div {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-inline-start: 2em;
    padding-inline-end: 2em;
}
.top-bar>div:last-child {
    width: 30%;
}

.top-bar>div>h2 {
    font-weight: 600;
    font-size: 4em;
    margin-block-start: 0.1em;
    margin-block-end: 0.2em;
}


.top-bar>div>.trip-icons{
    justify-content: flex-end;
    margin-inline-end: 0;
    color: dimgray;
}
.top-bar>div>.trip-icons>i:last-child{
    margin-right: 0;
}

.top-bar>div>pre {
    align-self: flex-end;
    margin: 0;
    width:fit-content;

    font-size: 2em;
    font-weight: 800;
    color: dimgray;
}

.top-bar>div>a {
    font-size: 1.5em;
    font-weight: 500;
    width: fit-content;
    padding: 0.5em 1.5em;
    border-radius: calc(var(--radius)/4);
    background: #e5b2e5;
    color: #961c9690;
}


.content {
    width: 80%;
    height: 84%;

    border-radius: 2vh;
    background: transparent;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: 2em;




}
.flow {
    display: flex;
    flex-direction: column;
    height: 100%;

    overflow: auto;
}

.trip-container{
    height: 100%;

    overflow: auto;
}
.trip {
    margin-bottom: 2em;
    height: fit-content;
    padding: 1vh;
    border-radius: calc(var(--radius));
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
}

.trip>h4 {
    font-weight: 600;
    font-size: 1.2em;
}

.trip>h4, .trip>h3 {
    font-weight: 500;
    margin: 0.2em 0.2em 0.2em 1em;
}

h2, .trip>h3 {
    font-weight: 600;
    font-size: 2em;
}

.trip-icons {
    display: flex;
    margin: 1em 1em 0 2em;
}

.trip-icons>i {
    font-size: 2em;
    margin-right: 1.5em;
}

.trip>img {
    display: none;
    object-fit: cover;
    width: 70%;
    height: 7.5vmax;
    align-self: center;
}

.trip>i {
    font-size: 2em;
    text-align: center;
    cursor: pointer;
}

.rotate {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

@media screen and (max-width:801px), screen and (max-device-width:801px) {
    .content {
        grid-gap: 1em;
        width: 100%;

        overflow: auto;
    }

    .trip {
        font-size: 2vmin;
        min-width: 60vw;
    }
    .trip>div>i {
        font-size: 1.5em;
        margin-right: 1.5em;
    }
    .trip>img {
        display: none;
        height: 16.2vmax;
    }
    .top-bar {
        display: none;
    }
    h2 {
        font-size: 1em;
    }

    .flow {
        overflow: unset;
    }

    .trip-container{
        height: unset;
        overflow: unset;
    }
}

/*TODO fix height of flow div in order to correspond with navigation height*/